In [2]:
import pandas as pd
print(pd.__version__)

1.4.2

In [27]:
# 3 data structures
# 1. Series -> 1d array -> list
# 2. Dataframe -> 2d -> dictionary, list, series or dataframe
# 3. Panel -> multi dimensional

# series
# pd.Series(['1', '2', '3' ])
# pd.Series(['vasi', 'raj', 'deepak'], index=['a', 'b', 'c'])
# data = pd.Series(['vasi', 'raj', 'deepak'], index=['a', 'b', 'c'])
# print(data['a'])

# person = {
#     'name': 'vasi',
#     'age': 29,
#     'ages': [1, 2, 3]
# }
# data = pd.Series(person)
# data
# data['name']
# data['age']
# data['ages']

[1, 2, 3]

In [28]:
# ways to create the dataset
person = {
    'cars': ['mercedez', 'audi'],
    'bike': ['honda', 'RE']
}
pd.DataFrame(person)

       cars   bike
0  mercedez  honda
1      audi     RE

In [16]:
pd.read_csv('mtcars.csv')

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,NaN,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,NaN,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,NaN,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [89]:
# pd.read_excel('somecars1.xlsx')

In [108]:
df = pd.read_csv('mtcars.csv')
#check the type
# type(df)
# df.shape
# df.ndim
# df
# print(df.head())
# print(df.head(3))
# print(df.head(-30))
# print(df.tail())
# print(df.tail(3))
# print(df.tail(-3))

70.30952911986732

In [53]:
# read data

# columns
# print(df.columns, type(df.columns))
# print(df['name'])
# print(df.name)
# print(df['name'][0])
# print(df[['name', 'hp', 'mpg']])



# rows
# print(df.head())
# print(df.iloc[0]) #initial location
# print(df.iloc[1:4])
# print(df.iloc[1:4:2])
# print(df.iloc[-1])
# print(df.iloc[-4:-1])
# print(df.iloc[-4:-1:2])
# print(df.iloc[::-1])



# specific location
# print(df.iloc[2,1])
# print(df.iloc[2:5, 3:9])


#see all the record of mpg column
# df.loc[:,"mpg"]
# df.loc[:, 'mpg': "qsec"]


# change index
# print(df.index)
# df.set_index('hp')
# df.set_index('hp', inplace=True)
df.reset_index(inplace=True)
df

,hp,S.No,Unnamed: 1,mpg,cyl,disp,drat,wt,qsec,vs,am,gear,carb
0,110,1,Mazda RX4,21.0,6,160.0,3.90,2.620,16.46,0,1,4,4
1,110,2,Mazda RX4 Wag,21.0,6,160.0,3.90,2.875,17.02,0,1,4,4
2,93,3,Datsun 710,22.8,4,108.0,3.85,2.320,18.61,1,1,4,1
3,110,4,Hornet 4 Drive,21.4,6,258.0,3.08,3.215,19.44,1,0,3,1
4,175,5,Hornet Sportabout,18.7,8,360.0,3.15,3.440,17.02,0,0,3,2
5,105,6,Valiant,18.1,6,225.0,2.76,3.460,NaN,1,0,3,1
6,245,7,Duster 360,14.3,8,360.0,3.21,3.570,15.84,0,0,3,4
7,62,8,Merc 240D,24.4,4,146.7,3.69,3.190,20.00,1,0,4,2
8,95,9,Merc 230,22.8,4,140.8,3.92,3.150,22.90,1,0,4,2
9,123,10,Merc 280,19.2,6,167.6,3.92,3.440,18.30,1,0,4,4
10,123,11,Merc 280C,17.8,6,167.6,3.92,3.440,18.90,1,0,4,4
11,180,12,Merc 450SE,16.4,8,275.8,3.07,4.070,17.40,0,0,3,3
12,180,13,Merc 450SL,17.3,8,275.8,3.07,3.730,17.60,0,0,3,3
13,180,14,Merc 450SLC,15.2,8,275.8,3.07,3.780,18.00,0,0,3,3
14,205,15,Cadillac Fleetwood,10.4,8,472.0,2.93,5.250,17.98,0,0,3,4
15,215,16,Lincoln Continental,10.4,8,460.0,3.00,5.424,17.82,0,0,3,4
16,230,17,Chrysler Imperial,14.7,8,440.0,3.23,5.345,17.42,0,0,3,4
17,66,18,Fiat 128,32.4,4,78.7,4.08,2.200,NaN,1,1,4,1
18,52,19,Honda Civic,30.4,4,75.7,4.93,1.615,18.52,1,1,4,2
19,65,20,Toyota Corolla,33.9,4,71.1,4.22,1.835,19.90,1,1,4,1
20,97,21,Toyota Corona,21.5,4,120.1,3.70,2.465,20.01,1,0,3,1
21,150,22,Dodge Challenger,15.5,8,318.0,2.76,3.520,16.87,0,0,3,2
22,150,23,AMC Javelin,15.2,8,304.0,3.15,3.435,17.30,0,0,3,2
23,245,24,Camaro Z28,13.3,8,350.0,3.73,3.840,15.41,0,0,3,4
24,175,25,Pontiac Firebird,19.2,8,400.0,3.08,3.845,17.05,0,0,3,2
25,66,26,Fiat X1-9,27.3,4,79.0,4.08,1.935,NaN,1,1,4,1
26,91,27,Porsche 914-2,26.0,4,120.3,4.43,2.140,16.70,0,1,5,2
27,113,28,Lotus Europa,30.4,4,95.1,3.77,1.513,16.90,1,1,5,2
28,264,29,Ford Pantera L,15.8,8,351.0,4.22,3.170,14.50,0,1,5,4
29,175,30,Ferrari Dino,19.7,6,145.0,3.62,2.770,15.50,0,1,5,6
30,335,31,Maserati Bora,15.0,8,301.0,3.54,3.570,14.60,0,1,5,8
31,109,32,Volvo 142E,21.4,4,121.0,4.11,2.780,18.60,1,1,4,2

In [113]:
# print(df['hp'].mean())
# print(df['hp'].median())

# df['hp'].std()
df['hp'].max()
df['hp'].min()
df['hp'].count()

# describing the data
# df.describe()

# sorting
# df.sort_values('name')
# DataFrame.sort_values(by, *, axis=0, ascending=True, 
#                       inplace=False, kind='quicksort', na_position='last', ignore_index=False, key=None)[source]
# df.sort_values('cyl')
# df.sort_values(['cyl', 'disp'], ascending=False)
# df.sort_values(['cyl', 'disp'], ascending=[False ,True])

30

In [115]:
# rename
# df = df.rename(columns={'Unnamed: 1':'model'})
# df

# make changes
# df['power'] = df['hp'] * df['gear']
# print(df)

# drop_column
# df = df.drop(columns=['power', 'vs'])
df = df.drop(columns=['S.No'])
# df.head(3)
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105.0,2.76,3.460,NaN,1,0,3,1
6,Duster 360,14.3,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95.0,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,NaN,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,NaN,NaN,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,NaN,205.0,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,NaN,215.0,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,NaN,230.0,3.23,5.345,17.42,0,0,3,4
17,NaN,32.4,4,78.7,66.0,4.08,2.200,NaN,1,1,4,1
18,NaN,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,NaN,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,NaN,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2

In [38]:
# to save in new csv
df.to_csv('new_csv.csv')

In [55]:
df.fillna(0)

,hp,S.No,Unnamed: 1,mpg,cyl,disp,drat,wt,qsec,vs,am,gear,carb
0,110,1,Mazda RX4,21.0,6,160.0,3.90,2.620,16.46,0,1,4,4
1,110,2,Mazda RX4 Wag,21.0,6,160.0,3.90,2.875,17.02,0,1,4,4
2,93,3,Datsun 710,22.8,4,108.0,3.85,2.320,18.61,1,1,4,1
3,110,4,Hornet 4 Drive,21.4,6,258.0,3.08,3.215,19.44,1,0,3,1
4,175,5,Hornet Sportabout,18.7,8,360.0,3.15,3.440,17.02,0,0,3,2
5,105,6,Valiant,18.1,6,225.0,2.76,3.460,0.00,1,0,3,1
6,245,7,Duster 360,14.3,8,360.0,3.21,3.570,15.84,0,0,3,4
7,62,8,Merc 240D,24.4,4,146.7,3.69,3.190,20.00,1,0,4,2
8,95,9,Merc 230,22.8,4,140.8,3.92,3.150,22.90,1,0,4,2
9,123,10,Merc 280,19.2,6,167.6,3.92,3.440,18.30,1,0,4,4
10,123,11,Merc 280C,17.8,6,167.6,3.92,3.440,18.90,1,0,4,4
11,180,12,Merc 450SE,16.4,8,275.8,3.07,4.070,17.40,0,0,3,3
12,180,13,Merc 450SL,17.3,8,275.8,3.07,3.730,17.60,0,0,3,3
13,180,14,Merc 450SLC,15.2,8,275.8,3.07,3.780,18.00,0,0,3,3
14,205,15,Cadillac Fleetwood,10.4,8,472.0,2.93,5.250,17.98,0,0,3,4
15,215,16,Lincoln Continental,10.4,8,460.0,3.00,5.424,17.82,0,0,3,4
16,230,17,Chrysler Imperial,14.7,8,440.0,3.23,5.345,17.42,0,0,3,4
17,66,18,Fiat 128,32.4,4,78.7,4.08,2.200,0.00,1,1,4,1
18,52,19,Honda Civic,30.4,4,75.7,4.93,1.615,18.52,1,1,4,2
19,65,20,Toyota Corolla,33.9,4,71.1,4.22,1.835,19.90,1,1,4,1
20,97,21,Toyota Corona,21.5,4,120.1,3.70,2.465,20.01,1,0,3,1
21,150,22,Dodge Challenger,15.5,8,318.0,2.76,3.520,16.87,0,0,3,2
22,150,23,AMC Javelin,15.2,8,304.0,3.15,3.435,17.30,0,0,3,2
23,245,24,Camaro Z28,13.3,8,350.0,3.73,3.840,15.41,0,0,3,4
24,175,25,Pontiac Firebird,19.2,8,400.0,3.08,3.845,17.05,0,0,3,2
25,66,26,Fiat X1-9,27.3,4,79.0,4.08,1.935,0.00,1,1,4,1
26,91,27,Porsche 914-2,26.0,4,120.3,4.43,2.140,16.70,0,1,5,2
27,113,28,Lotus Europa,30.4,4,95.1,3.77,1.513,16.90,1,1,5,2
28,264,29,Ford Pantera L,15.8,8,351.0,4.22,3.170,14.50,0,1,5,4
29,175,30,Ferrari Dino,19.7,6,145.0,3.62,2.770,15.50,0,1,5,6
30,335,31,Maserati Bora,15.0,8,301.0,3.54,3.570,14.60,0,1,5,8
31,109,32,Volvo 142E,21.4,4,121.0,4.11,2.780,18.60,1,1,4,2

In [75]:
df = pd.read_csv('mtcars.csv')
# df = df.fillna({
#     'Unnamed: 1': 'no-name',
#     'disp': 100
# })
# df = df.fillna(method="ffill")
# df = df.fillna(method="ffill", limit = 1)
# df = df.fillna(method="ffill", limit = 10)
# df = df.fillna(method="bfill")
# df = df.fillna(method="bfill", limit = 1)
# df = df.fillna(method="bfill", limit = 10)

df = df.interpolate()
df

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.00,110.0,3.90,2.620,16.460,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.00,110.0,3.90,2.875,17.020,0,1,4,4
2,3,Datsun 710,22.8,4,108.00,93.0,3.85,2.320,18.610,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.00,110.0,3.08,3.215,19.440,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.00,175.0,3.15,3.440,17.020,0,0,3,2
5,6,Valiant,18.1,6,225.00,105.0,2.76,3.460,16.430,1,0,3,1
6,7,Duster 360,14.3,8,360.00,245.0,3.21,3.570,15.840,0,0,3,4
7,8,Merc 240D,24.4,4,146.70,62.0,3.69,3.190,20.000,1,0,4,2
8,9,Merc 230,22.8,4,140.80,95.0,3.92,3.150,22.900,1,0,4,2
9,10,Merc 280,19.2,6,167.60,123.0,3.92,3.440,18.300,1,0,4,4
10,11,Merc 280C,17.8,6,167.60,123.0,3.92,3.440,18.900,1,0,4,4
11,12,Merc 450SE,16.4,8,275.80,151.5,3.07,4.070,17.400,0,0,3,3
12,13,Merc 450SL,17.3,8,275.80,180.0,3.07,3.730,17.600,0,0,3,3
13,14,Merc 450SLC,15.2,8,236.38,192.5,3.07,3.780,18.000,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,196.96,205.0,2.93,5.250,17.980,0,0,3,4
15,16,Lincoln Continental,10.4,8,157.54,215.0,3.00,5.424,17.820,0,0,3,4
16,17,Chrysler Imperial,14.7,8,118.12,230.0,3.23,5.345,17.420,0,0,3,4
17,18,NaN,32.4,4,78.70,66.0,4.08,2.200,17.970,1,1,4,1
18,19,NaN,30.4,4,75.70,52.0,4.93,1.615,18.520,1,1,4,2
19,20,NaN,33.9,4,71.10,65.0,4.22,1.835,19.900,1,1,4,1
20,21,Toyota Corona,21.5,4,120.10,97.0,3.70,2.465,20.010,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.00,150.0,2.76,3.520,16.870,0,0,3,2
22,23,AMC Javelin,15.2,8,304.00,150.0,3.15,3.435,17.300,0,0,3,2
23,24,Camaro Z28,13.3,8,350.00,245.0,3.73,3.840,15.410,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.00,175.0,3.08,3.845,17.050,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.00,66.0,4.08,1.935,16.875,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.30,91.0,4.43,2.140,16.700,0,1,5,2
27,28,Lotus Europa,30.4,4,95.10,113.0,3.77,1.513,16.900,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.00,264.0,4.22,3.170,14.500,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.00,175.0,3.62,2.770,15.500,0,1,5,6
30,31,Maserati Bora,15.0,8,301.00,335.0,3.54,3.570,14.600,0,1,5,8
31,32,Volvo 142E,21.4,4,121.00,109.0,4.11,2.780,18.600,1,1,4,2

In [95]:
# drop na
df = pd.read_csv('mtcars.csv')
df
# new_df = df.dropna()
# new_df = df.dropna(how="all")
# new_df = df.dropna(thresh=1)
# new_df

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105.0,2.76,3.460,NaN,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95.0,3.92,3.150,22.90,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,NaN,3.07,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,NaN,NaN,3.07,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,NaN,205.0,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,NaN,215.0,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,NaN,230.0,3.23,5.345,17.42,0,0,3,4
17,18,NaN,32.4,4,78.7,66.0,4.08,2.200,NaN,1,1,4,1
18,19,NaN,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,20,NaN,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,NaN,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2

In [104]:
df = pd.read_csv('mtcars.csv')
import numpy as np
# new_df = df.replace(0, np.NaN)
# new_df = df.replace([0, 1], np.NaN)
new_df = df.replace({
    'vs': 0,
    "am": 1
}, np.NaN)
new_df

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,NaN,NaN,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,NaN,NaN,4,4
2,3,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1.0,NaN,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,NaN,0.0,3,2
5,6,Valiant,18.1,6,225.0,105.0,2.76,3.460,NaN,1.0,0.0,3,1
6,7,Duster 360,14.3,8,360.0,245.0,3.21,3.570,15.84,NaN,0.0,3,4
7,8,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1.0,0.0,4,2
8,9,Merc 230,22.8,4,140.8,95.0,3.92,3.150,22.90,1.0,0.0,4,2
9,10,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1.0,0.0,4,4
10,11,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1.0,0.0,4,4
11,12,Merc 450SE,16.4,8,275.8,NaN,3.07,4.070,17.40,NaN,0.0,3,3
12,13,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,NaN,0.0,3,3
13,14,Merc 450SLC,15.2,8,NaN,NaN,3.07,3.780,18.00,NaN,0.0,3,3
14,15,Cadillac Fleetwood,10.4,8,NaN,205.0,2.93,5.250,17.98,NaN,0.0,3,4
15,16,Lincoln Continental,10.4,8,NaN,215.0,3.00,5.424,17.82,NaN,0.0,3,4
16,17,Chrysler Imperial,14.7,8,NaN,230.0,3.23,5.345,17.42,NaN,0.0,3,4
17,18,NaN,32.4,4,78.7,66.0,4.08,2.200,NaN,1.0,NaN,4,1
18,19,NaN,30.4,4,75.7,52.0,4.93,1.615,18.52,1.0,NaN,4,2
19,20,NaN,33.9,4,71.1,65.0,4.22,1.835,19.90,1.0,NaN,4,1
20,21,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1.0,0.0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,NaN,0.0,3,2
22,23,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,NaN,0.0,3,2
23,24,Camaro Z28,13.3,8,350.0,245.0,3.73,3.840,15.41,NaN,0.0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,NaN,0.0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,NaN,1.0,NaN,4,1
26,27,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,NaN,NaN,5,2
27,28,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1.0,NaN,5,2
28,29,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,NaN,NaN,5,4
29,30,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,NaN,NaN,5,6
30,31,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,NaN,NaN,5,8
31,32,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1.0,NaN,4,2

In [118]:
# f = lambda x: x*4
def double(num):
    return num*4

df['am']= df['am'].apply(f)
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,32,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,32,4,4
2,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,32,4,1
3,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105.0,2.76,3.460,NaN,1,0,3,1
6,Duster 360,14.3,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95.0,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,NaN,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,NaN,NaN,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,NaN,205.0,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,NaN,215.0,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,NaN,230.0,3.23,5.345,17.42,0,0,3,4
17,NaN,32.4,4,78.7,66.0,4.08,2.200,NaN,1,32,4,1
18,NaN,30.4,4,75.7,52.0,4.93,1.615,18.52,1,32,4,2
19,NaN,33.9,4,71.1,65.0,4.22,1.835,19.90,1,32,4,1
20,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,NaN,1,32,4,1
26,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,32,5,2
27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,32,5,2
28,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,32,5,4
29,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,32,5,6
30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,32,5,8
31,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,32,4,2

In [122]:
# filtering
# print(cars['name'][cars['hp'] < 100])

# df['cyl'] > 6
#filter records with more than 6 cylinders
filter1 = df['cyl'] > 6
# filter1
#apply filter to dataframe
filtered_new = df[filter1]
#view filtered dataframe
filtered_new

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
6,Duster 360,14.3,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
11,Merc 450SE,16.4,8,275.8,NaN,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,NaN,NaN,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,NaN,205.0,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,NaN,215.0,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,NaN,230.0,3.23,5.345,17.42,0,0,3,4
21,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
28,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,32,5,4
30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,32,5,8

In [25]:
# Joins
A = pd.DataFrame({
    'color': ['green', 'yellow', 'red'],
    'num': [1, 2, 3]
})

B = pd.DataFrame({
    'color': ['yellow', 'green', 'pink'],
    'size': ['s', 'm', 'l']
})

In [27]:
# pd.merge(A, B, on='color')
# pd.merge(A, B)
# pd.merge(A, B, how='inner')
# pd.merge(A, B, how='outer')
# pd.merge(A, B, how='left')
# pd.merge(A, B, how='right')

In [22]:
A = pd.DataFrame({
    'colors': ['green', 'yellow', 'red'],
    'num': [1, 2, 3]
})

B = pd.DataFrame({
    't-shirt': ['yellow', 'green', 'pink'],
    'size': ['s', 'm', 'l']
})

# pd.merge(A, B, left_on='colors', right_on='t-shirt')